 <div class="banner">
      <div class="shadow-main">
          
          <ul class="breadcrumb breadcrumb-news">
              <li><a href="index.html">HOME</a></li>
              <li><a href="login.html">DONATE</a></li>
          </ul>
      </div>
  </div> 
<br/>

<h3>DONORS 'GUIDELINES</h3>
<br/>
<h4>eligibility</h4>
<p>Any healthy donor, fit and not suffering from transmissible diseases can donate blood.
The donor must be between 18 and 60 years and have a minimum weight of 50 kg can donate blood.
The donor hemoglobin level is at least 12.5%.
A donor can re-donate blood 3 months after the last blood donation.
The pulse frequency should be between 50 and 100 mm without irregularities.
Diastolic from 50 to 100 mm Hg and systolic from 100 to 180 mm Hg.
The body temperature should be normal and the oral temperature should not exceed 37.5 degrees Celsius.
</p>
<br/>
<br/>
<h4>No admissibility</h4>

Donors should not suffer from cardiac arrest, hypertension, renal alignment, epilepsy or diabetes.
Women with abortion should avoid giving blood for the next 6 months.
If the donor has already donated blood or been treated for malaria in the last three months.
If the donor has been vaccinated in the last month.
If the donor has consumed alcohol in the last 24 hours.
If you are HIV +.
If the donor has had a dental job during the next 24 hours and has waited a month if the donor had an important dental procedure.
<br/>
<br/>

<h4>Preparation</h4>


Prepare to drink enough juice and water at night and in the morning before giving blood.
Avoid giving blood on an empty stomach. Eat three hours before donating blood. Avoiding fatty foods Eat foods rich in iron, such as whole grains, eggs and beef, and spinach, green, orange and citrus vegetables.
Do not consume any alcoholic or caffeinated beverages before donating blood.
Avoid giving blood for 6 months if you have had major surgery.
<br/>
<br/>
<h4>Post-donation assistance</h4>

It rest approximately 5 to 20 minutes after the donation. Do not drive after blood donation.
Have some snacks and juice with high sugar content, which will help rejuvenate your blood sugar level.
Good appetite with high protein content like chicken, beef, etc.
Do not consume alcohol for 8 hours after blood donation.
Avoid heavy work such as gym, dance, running, etc. at least for a day.
<br/>
<br/>
<h4>How to relieve</h4>
While they are holding you to draw blood, relax to the maximum, breathe deeply. There will be little pain or no pain. Try to distract yourself from the method by having a mastication gum. Listen to some music or watch some fun television shows.