// button{
//     margin-left: 88em;
//     height: 33px;
//     width: 187px;
//     color: black;
//     background-color: black;
// }
.navbar-right {
    float: right!important;
    margin-right: 129px;
}
.last{
    margin-right: -201px;
    margin-top: -22px;
    padding: 9px;
}
.contact{
    color:#fc5800;
}
.post1{
    color:white; 
}
button{ 
    background-color: #fc5800;
}