
<div class="slider">
    <div id="home-carousel" class="carousel" data-ride="carousel">
        <div class="carousel-inner" role="listbox">

            <div class="item active slide_1">
                <div class="container p0">
                    <div class="item-content">
                            <table class="ttbb"> 
                                    <tbody>
                                        <tr>
                                    <td width="411" valign="top">
                                    <table width="411">
                                    <tbody>
                                <tr>
                                    <td class="blood" height="20"> FIND BLOOD DONORS</td>
                                </tr>
                                <hr/>
                                    <tr>
                                    </tr>
                                    <tr>
                                    <td>
                                    <table width="421">
                                    <tbody>
                                     <tr>
                                    <td width="129" height="50"  class="contactheading">Blood Group</td>
                                    <td width="302">
                                    <select name="dpBloodGroup" id="dpBloodGroup" class="findbloodlistmenu" 
                                       (keyup)="OnCityKeyUp($event)"  [(ngModel)]="selectedLevel" >
                                    <option value="Select">-----Select-----</option>
                                        <option value="A+">A+</option>
                                        <option value="A-">A-</option>
                                        <option value="A1+">A1+</option>
                                        <option value="A1-">A1-</option>
                                        <option value="A1B+">A1B+</option>
                                        <option value="A1B-">A1B-</option>
                                        <option value="A2+">A2+</option>
                                        <option value="A2-">A2-</option>
                                        <option value="A2B+">A2B+</option>
                                        <option value="A2-">A2-</option>
                                        <option value="A2B+">A2B+</option>
                                        <option value="A2B-">A2B-</option>
                                          <option value="AB+">AB+</option>
                                        <option value="AB-">AB-</option>
                                           <option value="B+">B+</option>
                                          <option value="B-">B-</option>
                                         <option value="Bombay Blood Group">Bombay Blood Group</option>
                                           <option value="INRA">INRA</option>
                                         <option value="O+">O+</option>
                                        <option value="O-">O-</option>     
                                    </select></td>
                                    </tr>
                                    <tr>
                                    <td height="35" class="contactheading" width="129">Select Country</td>
                                    <td class="style3">
                                    <select name="dpCountry" id="dpCountry" class="findbloodlistmenu" 
                                       (keyup)="OnCityKeyUp1($event)"  [(ngModel)]="selectedLevel1">
                                       <option value="Select">-----Select Country-----</option>
                                            <option value="india">INDIA</option>
                                    </select></td>
                                    </tr>
                                    <tr>
                                    <td height="35"  width="129" class="contactheading">Select State</td>
                                    <td><select name="dpState" id="dpState" (keyup)="OnCityKeyUp2($event)" 
                                         [(ngModel)]="selectedLevel2" class="findbloodlistmenu">
                                         <option value="0|dpState">-----Select State-----</option>
                                         <option value="tamilnadu">Tamilnadu </option>
                                        <option value="andra pradesh">Andhra Pradesh</option>
                                        <option value="2|dpState">Arunachal Pradesh </option>
                                        <option value="3|dpState">Assam </option><option value="4|dpState">Bihar </option><option value="30|dpState">Chandigarh </option><option value="5|dpState">Chhattisgarh </option><option value="31|dpState">Dadra and Nagar 
                                        Haveli </option><option value="32|dpState">Daman and Diu 
                                        </option><option value="35|dpState">Delhi </option><option value="6|dpState">Goa </option><option value="7|dpState">Gujarat </option><option value="8|dpState">Haryana </option><option value="9|dpState">Himachal Pradesh 
                                        </option><option value="10|dpState">Jammu and 
                                        Kashmir </option><option value="11|dpState">Jharkhand </option><option value="12|dpState">Karnataka </option><option value="13|dpState">Kerala </option><option value="33|dpState">Lakshadweep </option><option value="14|dpState">Madhya Pradesh 
                                        </option><option value="15|dpState">Maharashtra </option><option value="16|dpState">Manipur </option><option value="17|dpState">Meghalaya </option><option value="18|dpState">Mizoram </option><option value="19|dpState">Nagaland </option><option value="20|dpState">Odisha</option><option value="34|dpState">Pondicherry</option><option value="21|dpState">Punjab </option><option value="22|dpState">Rajasthan </option><option value="23|dpState">Sikkim </option><option value="24|dpState">Tamil Nadu </option><option value="36|dpState">Telangana</option><option value="25|dpState">Tripura </option><option value="27|dpState">Uttar Pradesh 
                                        </option><option value="26|dpState">Uttaranchal </option><option value="28|dpState">West Bengal</option></select></td>
                                    </tr>
                                    <tr>
                                    <td height="35"   width="129" class="contactheading">Select District </td>
                                    <td><select name="dpDistrict" (keyup)="OnCityKeyUp3($event)" 
                                        [(ngModel)]="selectedLevel3"  id="dpDistrict" class="findbloodlistmenu">
                                        <option value="0|dpDistrict">-----Select District-----</option>
                                        <option value="thiru">Thiru</option><option value="3|dpDistrict">Chittor</option>
                                        <option value="4|dpDistrict">East Godavari</option><option value="5|dpDistrict">Guntur</option>
                                        <option value="7|dpDistrict">Kadapa</option><option value="10|dpDistrict">Krishna</option>
                                        <option value="11|dpDistrict">Kurnool</option><option value="15|dpDistrict">Nellore</option>
                                        <option value="17|dpDistrict">Prakasam</option><option value="18|dpDistrict">Srikakulam</option>
                                        <option value="19|dpDistrict">Vishakapatnam</option>
                                        <option value="20|dpDistrict">Vizianagaram</option><option value="22|dpDistrict">West Godavari</option></select></td>
                                    </tr>
                                    <tr>
                                    <td class="style4"   width="129" class="contactheading">Select City </td>
                                    <td class="style5"><select name="dpCity" (keyup)="OnCityKeyUp4($event)" 
                                        [(ngModel)]="selectedLevel4"   id="dpCity" class="findbloodlistmenu">
                                        <option value="0|dpCity">-----Select City-----</option>
                                        <option value="chennai">Chennai</option></select></td>
                                    </tr>
                                    <tr>
                                    <td height="35">&nbsp;</td>
                                    <td valign="middle"><table width="151">
                                    <tbody><tr>
                                    <td width="28">&nbsp;</td>
                                    <td><input type="submit" name="btnSearchDonor" (click)="callGetProfileServerUsingObservable()" class="don" value="submit"></td>
                                    </tr>
                                    </tbody>
                                </table></td>
                                    </tr>
                                    </tbody>
                                </table></td>
                                    </tr>
                                    </tbody></table>
                                    </td>
                                    </tr>
                                    </tbody>
                                    </table>
                        <div class="gb-middle ">
                            
                                
                        </div> 
                    </div><!-- /.item-content -->
                </div>
            </div><!-- /.item -->


        </div> 

        <ol class="carousel-indicators">
            <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
            <li class="two" data-target="#home-carousel" data-slide-to="1"></li>
            <li data-target="#home-carousel" data-slide-to="2"></li>
        </ol>

    </div><!-- /.carousel slide -->
</div><!-- /.slider -->
<!--=============================== Contact With Us =================-->

<!-- <div *ngFor="let item of emp">
    <li>{{item.name}}</li>
</div> -->

<br/>
<br/>
<div class="main-container-1">
        <h2 class="title-text">WHO RECENTLY JOINED</h2>  
        <br/>   
        <br/>   
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
              <div>
                  <p><img src="assets/images/woman-girl.jpg" alt="woman-girl"></p>
              </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            
              <table class="table">
                <thead>
                  <tr class="ttxt2">
                  <!-- <th class="ttxt" scope="col">S.NO</th> -->
                    <th class="ttxt" scope="col">Name</th>
                    <th class="ttxt" scope="col">Blood</th>
                    <th class="ttxt" scope="col">Mobile</th>
                    <th class="ttxt" scope="col">city</th>
                    <th class="ttxt" scope="col">Available</th>
                  
                  </tr>
                </thead>
                <tbody>
                  <tr  class="ttxt2" *ngFor="let item of selectedLevel5">
                        <!-- <td  class="ttxt1" scope="row">{{item.id}}</td> -->
                    <td  class="ttxt1" scope="row">{{item.name}}</td>
                    <td class="ttxt1">{{item.blood_group}}</td>
                    <td class="ttxt1">{{item.mobile}}</td>
                    <td class="ttxt1" >{{item.city}}</td>
                     <td class="ttxt1" >{{item.is_available}}</td> 
                  
                  </tr>
                  
                </tbody>
              </table>
          </div>
      </div>
  </div>
 <a routerLink="activites" (click)="act()"><input type="button" value ="Viewmore"  name ="Viewmore" class="btn"></a> 
</div>

<!--=============================== Images ==========================-->
<div class="main-container-2 grey">
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12 text-center mb">
              <div class="images">
                  <p><img src="assets/images/drop.png" alt="drop"></p>
              </div>
              <div class="images-text">
                  <h2><a routerLink="home/blood" (click)="blood1()">Donation</a></h2>
              </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 text-center mb">
              <div class="images">
                  <p><img src="assets/images/circle.png" alt="circle"></p>
              </div>
              <div class="images-text">
                  <h2><a href="features.html">Get Involved</a></h2>
              </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 text-center">
              <div class="images">
                  <p><img src="assets/images/heart.png" alt="heart"></p>
              </div>
              <div class="images-text">
                  <h2><a routerLink="home/register" (click)="join()">Join Us</a></h2>
              </div>
          </div>
      </div>
  </div>
</div>

<!--=============================== Charity Events ==================-->
<div class="events black">
  <div class="main-container-3 shadow">
      <div class="container">
          <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                  <h2 class="title-text">Charity Events</h2>
                  <!-- <div class="wave-line wave-center"></div> -->
                  <br/>
                  <p class="paragraph-black"> Fundraising event ideas have become a staple in many organizations
                      as a way to help with fundraising event planning, entertaining and engaging your donors </p>
              </div>
          </div>

          <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                  <h3 class="event">Upcoming Events</h3>
                  <br/>
                  <br/>
                  <div class="events-line">
                      <div class="col-md-2 col-sm-2 col-xs-3 height100">
                          <div class="events-title text-center">
                              <p>
                                  <a href="#">1
                                      <span>May</span>
                                  </a>
                              </p>
                          </div>
                      </div>
                      <div class="col-md-10 col-sm-10 col-xs-9 pl">
                          <h6>
                              <a href="features.html#event-1" class="white"> Digital Help for Language
                                  Volunteers </a>
                          </h6>
                          <ul class="gb-list">
                              <li>
                                  <a href="#"><i class="icon-clock" aria-hidden="true"></i>
                                      May 17, 2017</a>
                              </li>
                              <li><i class="icon-location-1"></i>
                                  <a href="#"> Texas, USA </a>
                              </li>
                          </ul>
                      </div>
                  </div>

                  <div class="events-line">
                      <div class="col-md-2 col-sm-2 col-xs-3 height100">
                          <div class="events-title text-center ">
                              <p>
                                  <a href="#">2
                                      <span>May</span>
                                  </a>
                              </p>
                          </div>
                      </div>
                      <div class="col-md-10 col-sm-10 col-xs-9 pl">
                          <h6>
                              <a href="features.html#event-2" class="white"> Playing For World </a>
                          </h6>
                          <ul class="gb-list">
                              <li>
                                  <a href="#"><i class="icon-clock" aria-hidden="true"></i>
                                      May 23, 2017</a>
                              </li>
                              <li><i class="icon-location-1"></i>
                                  <a href="#"> New-Jersey, USA </a>
                              </li>
                          </ul>
                      </div>
                  </div>

                  <div class="events-line last">
                      <div class="col-md-2 col-sm-2 col-xs-3 height100">
                          <div class="events-title text-center ">
                              <p>
                                  <a href="#">3
                                      <span>May</span>
                                  </a>
                              </p>
                          </div>
                      </div>
                      <div class="col-md-10 col-sm-10 col-xs-9 pl">
                          <h6>
                              <a href="features.html#event-3" class="white"> Leave a Gift in Your Will </a>
                          </h6>
                          <ul class="gb-list">
                              <li>
                                  <a href="#"><i class="icon-clock" aria-hidden="true"></i>
                                      May 28, 2017</a>
                              </li>
                              <li><i class="icon-location-1"></i>
                                  <a href="#"> Sacramento, USA </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                    <h3 class="event">Completed Events</h3>
                    <br/><br/>
                  <div class="events-line">
                      <div class="col-md-2 col-sm-2 col-xs-3 height100">
                          <div class="events-title text-center ">
                              <p>
                                  <a href="#">01
                                      <span> June </span>
                                  </a>
                              </p>
                          </div>
                      </div>
                      <div class="col-md-10 col-sm-10 col-xs-9 pl">
                          <h6>
                              <a href="features.html#event-4" class="white"> Cycle – Choose your own ride </a>
                          </h6>
                          <ul class="gb-list">
                              <li>
                                  <a href="#"><i class="icon-clock" aria-hidden="true"></i>
                                      June 01, 2017</a>
                              </li>
                              <li><i class="icon-location-1"></i>
                                  <a href="#"> London, UK </a>
                              </li>
                          </ul>
                      </div>
                  </div>

                  <div class="events-line">
                      <div class="col-md-2 col-sm-2 col-xs-3 height100">
                          <div class="events-title text-center ">
                              <p>
                                  <a href="#">02
                                      <span> June </span>
                                  </a>
                              </p>
                          </div>
                      </div>
                      <div class="col-md-10 col-sm-10 col-xs-9 pl">
                          <h6>
                              <a href="features.html#event-5" class="white"> London Marathon Festival 2017 </a>
                          </h6>
                          <ul class="gb-list">
                              <li>
                                  <a href="#"><i class="icon-clock" aria-hidden="true"></i>
                                      June 08, 2017</a>
                              </li>
                              <li><i class="icon-location-1"></i>
                                  <a href="#"> London, UK </a>
                              </li>
                          </ul>
                      </div>
                  </div>

                  <div class="events-line last">
                      <div class="col-md-2 col-sm-2 col-xs-3 height100">
                          <div class="events-title text-center">
                              <p>
                                  <a href="#">03
                                      <span>June</span>
                                  </a>
                              </p>
                          </div>
                      </div>
                      <div class="col-md-10 col-sm-10 col-xs-9 pl">
                          <h6>
                              <a href="features.html#event-6" class="white"> Casting for a Cause </a>
                          </h6>
                          <ul class="gb-list">
                              <li>
                                  <a href="#"><i class="icon-clock" aria-hidden="true"></i>
                                      June 22, 2017</a>
                              </li>
                              <li><i class="icon-location-1"></i>
                                  <a href="#"> New-York, USA </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!--=============================== Number ======================-->
<div class="number" id="counts">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12 mb center ">
              <div class="text">
                  <p>
                      <span class="spincrement">500</span>
                      <span class="text-1"> Successful Projects </span>
                  </p>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 mb center ">
              <div class="text">
                  <p>
                      <span class="spincrement">1534</span>
                      <span class="text-1"> People Impacted </span>
                  </p>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 mb center ">
              <div class="text">
                  <p>₹
                      <span class="spincrement ml">14432</span>
                      <span class="text-1"> Money Donated </span>
                  </p>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 center ">
              <div class="text">
                  <p><span class="spincrement">189</span>
                      <span class="text-1"> Total Volunteers </span>
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
<br/>


<!-- <div class="main-container-4">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="text-center">
                  <h2 class="title-text">Our Causes</h2>
                  
                  <br/>
                  <p class="paragraph-white">Fundraising event ideas have become a staple in many organizations
                      as a way to help with fundraising event planning, entertaining and engaging your donors </p>
              </div>
          </div>
      </div>

      <div class="row">

          <div class="col-lg-4 col-md-4 col-sm-6 mb">
              <div class="person-card ">
                  <div class="person-img">
                      <a href="our-causes.html" class="img-link">
                          <span><i class="icon-eye" aria-hidden="true"></i></span>
                          <img src="assets/images/1.jpg" alt="" class="img">
                      </a>
                  </div>
                  <div class="person-content">
                      <h3><a href="our-causes.html" class="title-white">Provide Treatment</a></h3>
                      <p>We help children with limited means get access to quality education,
                           with a focus on street children and girls. </p>
                  </div>
              </div>
              <div class="scale-area">
                  <h6>Raised</h6>
                  <h6 class="pull-right">Goal</h6>
                  <div class="scale clearfix">
                      <div class="scale-bar-1" data-percent="43"></div>
                      <div class="scale-bar-percent">43%</div>
                  </div>
                  <h6>5730.00 INR</h6>
                  <h6 class="pull-right">112000.00 INR</h6>
              </div>
              <div class="buttons">
                  <a href="single-causes.html" class=" red-btn red-btn-4">Donate</a>
              </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 mb">
              <div class="person-card ">
                  <div class="person-img">
                      <a href="our-causes.html" class="img-link">
                          <span><i class="icon-eye" aria-hidden="true"></i></span>
                          <img src="assets/images/2.jpg" alt="" class="img">
                      </a>
                  </div>
                  <div class="person-content">
                      <h3><a href="our-causes.html" class="title-white">Education to Every Child</a></h3>
                      <p>We provide robust health and nutrition benefits to the children
                           coming from the most marginalised communities.. </p>
                  </div>
              </div>
              <div class="scale-area">
                  <h6>Raised</h6>
                  <h6 class="pull-right">Goal</h6>
                  <div class="scale clearfix">
                      <div class="scale-bar-1" data-percent="87"></div>
                      <div class="scale-bar-percent">87%</div>
                  </div>
                  <h6>5730.00 INR</h6>
                  <h6 class="pull-right">112000.00 INR</h6>
              </div>
              <div class="buttons">
                  <a href="single-causes.html" class=" red-btn red-btn-4">Donate</a>
              </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="person-card ">
                  <div class="person-img">
                      <a href="our-causes.html" class="img-link">
                          <span><i class="icon-eye" aria-hidden="true"></i></span>
                          <img src="assets/images/3.jpg" alt="" class="img">
                      </a>
                  </div>
                  <div class="person-content">
                      <h3><a href="our-causes.html" class="title-white">Patient and Family Support</a></h3>
                      <p>
                           We work to help children move past the trauma of a disaster and rebuild their lives. </p>
                  </div>
              </div>
              <div class="scale-area">
                  <h6>Raised</h6>
                  <h6 class="pull-right">Goal</h6>

                  <div class="scale clearfix">
                      <div class="scale-bar-1 stop" data-percent="62"></div>
                      <div class="scale-bar-percent">62%</div>
                  </div>
                  <h6>5730.00 INR</h6>
                  <h6 class="pull-right">112000.00 INR</h6>
              </div>
              <div class="buttons">
                  <a href="single-causes.html" class=" red-btn red-btn-4">Donate</a>
              </div>
          </div>
      </div>
  </div>
</div> -->

<!--=============================== Be a Volunteer ==================-->
<div class="container-fluid black main-container-5">
  <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="content-1 pull-right">
              <h2 class="title-text">Be a Volunteer Our Community</h2>
              <div class="wave-line"></div>
              <p>
                    Do you have the passion to contribute towards the country’s progress? Join us! You could volunteer with us for a minimum of two hours every week or on and off for events and one-off volunteering opportunities.
                    Register with us and we will get in touch with you soon (please allow us two weeks) through Email and SMS regarding the next orientation programme. At the orientation you will get more information about all of Bhumi’s projects,
                     the causes you can choose and the locations where you can volunteer.
              </p>
              <div class="buttons">
                  <a href="login.html" class="red-btn red-btn-5">Join Us Now</a>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 pos-ab">
          <div class="offset-image-1">
              <div class="shadow-r"></div>
          </div>
      </div>
  </div>
</div>

<!--=============================== Charity Volunteer ===============-->
<div class="main-container-6 ">
  <div class="container">

      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="text-center">
                  <h2 class="title-text">Charity Volunteers</h2>
                  <!-- <div class="wave-line wave-center"></div> -->
                  <br/>
                  <p class="paragraph-white">Fundraising event ideas have become a staple in many organizations
                      as a way to help with fundraising event planning, entertaining and engaging your donors </p>
              </div>
          </div>
      </div>

      <div class="owl-carousel ">
          <div class="person-card item">
              <img src="assets/images/volunteer_4.jpg" alt="" class="img">
              <div class="person-content">
                  <h3>Annette Ramsey</h3>
                  <span>Psychologist</span>
              </div>
          </div><!--/person card-->

          <div class="person-card item">
              <img src="assets/images/volunteer_1.jpg" alt="" class="img">
              <div class="person-content">
                  <h3>Todd Boyd</h3>
                  <span>Teacher</span>
              </div>
          </div><!--/person card-->

          <div class="person-card item">
              <img src="assets/images/volunteer_2.jpg" alt="" class="img">
              <div class="person-content">
                  <h3>Judy Jensen</h3>
                  <span>Social Worker</span>
              </div>
          </div><!--/person card-->

          <div class="person-card item">
              <img src="assets/images/volunteer_3.jpg" alt="" class="img">
              <div class="person-content">
                  <h3>Dave Warren</h3>
                  <span>Student</span>
              </div>
          </div><!--/person card-->

          <div class="person-card item">
              <img src="assets/images/volunteer_5.jpg" alt="" class="img">
              <div class="person-content">
                  <h3>Allison Perry </h3>
                  <span>Social Worker</span>
              </div>
          </div><!--/person card-->
      </div>


      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
              <div class="buttons">
                  <a href="about-us.html" class="red-btn red-btn-6">Learn More About Us</a>
              </div>
          </div>
      </div>

  </div>
</div>

<!--=============================== Save a Life =====================-->
<div class="black " id="save-life">
  <div class="container">
      <div class="row ">
          <div class="col-md-6 col-sm-3 col-xs-12 cont-img">
              <div class="image"></div>
          </div>
          <div class="col-md-6 col-sm-9 col-xs-12 save-life">
              <h2> Save a Life Donation Blood </h2>
          </div>
      </div>
  </div>
</div>

<!--=============================== Latest News =====================-->
<div class="main-container-7">
  <div class="container">

      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="text-center">
                  <h2 class="title-text">Latest News</h2>
                  <!-- <div class="wave-line wave-center"></div> -->
                  <br/>
                  <p class="paragraph-white"> Fundraising event ideas have become a staple in many organizations
                      as a way to help with fundraising event planning, entertaining and engaging your donors </p>
              </div>
          </div>
      </div>

      <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-6 mb ">
              <div class="person-card">
                  <div class="person-img">
                      <a href="blog-single.html" class="img-link">
                          <span><i class="icon-eye" aria-hidden="true"></i></span>
                          <img src="assets/images/6.jpg" alt="" class="img">
                      </a>
                  </div>
                  <div class="person-content">
                      <h3><a href="blog-single.html" class="title-white">Indian Childhood: Beauty in Simplicity</a></h3>
                      <ul class="gb-list">
                          <li>
                              <a href="blog-single.html"> May 17, 2017 </a>
                          </li>
                          <li>
                              <a href="features.html"><i class="icon-comment" aria-hidden="true"></i>
                                  14</a>
                          </li>
                          <li>
                              <a href="features.html"><i class="icon-heart" aria-hidden="true"></i>
                                  75</a>
                          </li>
                          <li>
                              <a href="features.html"><i class="icon-eye" aria-hidden="true"></i>
                                  401</a>
                          </li>
                      </ul>
                      <p>We help children with limited means get access to quality education,
                           with a focus on street children and girls
                           We provide robust health and nutrition benefits to the children coming from the most marginalised communities.
                        </p>
                  </div>
              </div>
              <div class="buttons">
                  <a href="blog-single.html" class="red-btn red-btn-7">Learn More</a>
              </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 mb">
              <div class="person-card">
                  <div class="person-img">
                      <a href="blog-single.html" class="img-link">
                          <span><i class="icon-eye" aria-hidden="true"></i></span>
                          <img src="assets/images/7.jpg" alt="" class="img">
                      </a>
                  </div>
                  <div class="person-content">
                      <h3><a href="blog-single.html" class="title-white">Cognitive Development of Children in Poverty</a>
                      </h3>
                      <ul class="gb-list">
                          <li>
                              <a href="blog-single.html"> May 17, 2017 </a>
                          </li>
                          <li>
                              <a href="features.html"><i class="icon-comment" aria-hidden="true"></i>
                                  9</a>
                          </li>
                          <li>
                              <a href="features.html"><i class="icon-heart" aria-hidden="true"></i>
                                  45</a>
                          </li>
                          <li>
                              <a href="features.html"><i class="icon-eye" aria-hidden="true"></i>
                                  378</a>
                          </li>
                      </ul>
                      <p>All children have the right to a healthy, happy and fulfilling life. 
                          Donate Money & Support Charity to Keep children safe & free from harm. 
                          You can also donate online to support a Child Protection Programme..</p>
                  </div>
              </div>
              <div class="buttons">
                  <a href="blog-single.html" class="red-btn red-btn-7">Learn More</a>
              </div>
          </div>
      </div>
  </div>
</div>

<!--=============================== Photo ===========================-->
<div class="photo-container">
  <div class="container-fluid photo">
      <div class="photo-link">
          <a href="gallery.html" class="img-link">
              <span><i class="icon-eye" aria-hidden="true"></i></span>
              <img src="assets/images/small_1.jpg" alt="" class="img-small">
          </a>
      </div>
      <div class="photo-link">
          <a href="gallery.html" class="img-link">
              <span><i class="icon-eye" aria-hidden="true"></i></span>
              <img src="assets/images/small_2.jpg" alt="" class="img-small">
          </a>
      </div>
      <div class="photo-link">
          <a href="gallery.html" class="img-link">
              <span><i class="icon-eye" aria-hidden="true"></i></span>
              <img src="assets/images/small_3.jpg" alt="" class="img-small">
          </a>
      </div>
      <div class="photo-link">
          <a href="gallery.html" class="img-link">
              <span><i class="icon-eye" aria-hidden="true"></i></span>
              <img src="assets/images/small_4.jpg" alt="" class="img-small">
          </a>
      </div>
      <div class="photo-link">
          <a href="gallery.html" class="img-link">
              <span><i class="icon-eye" aria-hidden="true"></i></span>
              <img src="assets/images/small_5.jpg" alt="" class="img-small">
          </a>
      </div>
      <div class="photo-link">
          <a href="gallery.html" class="img-link">
              <span><i class="icon-eye" aria-hidden="true"></i></span>
              <img src="assets/images/small_6.jpg" alt="" class="img-small">
          </a>
      </div>
      <div class="photo-link">
          <a href="gallery.html" class="img-link">
              <span><i class="icon-eye" aria-hidden="true"></i></span>
              <img src="assets/images/small_7.jpg" alt="" class="img-small">
          </a>
      </div>
      <div class="photo-link">
          <a href="gallery.html" class="img-link">
              <span><i class="icon-eye" aria-hidden="true"></i></span>
              <img src="assets/images/small_8.jpg" alt="" class="img-small">
          </a>
      </div>
  </div>
</div>
<app-footer></app-footer>